:host {
  display: block;
  // width: 100%;
}
.upper_div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .head_lbl {
    font-size: 20px;
    font-family: "bold";
    margin-left: 10px;
  }
}

ion-content{
  max-height: max-content;
  overflow-y: auto;

ion-grid {
  padding: 10px;
}

ion-row {
  margin-bottom: 7px;
}

ion-select.always-flip::part(icon) {
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

ion-select.always-flip.select-expanded::part(icon) {
  transform: rotate(180deg);
}

ion-select.never-flip::part(icon) {
  transform: none;
}

ion-label {
  font-weight: bold;
}

ion-select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black
}
}