<ion-content class="ion-padding-horizontal">
  <div class="upper_div upper_space">
    <div>
      <ion-label class="head_lbl">Client List</ion-label>
    </div>

    <div class="btn">
      <ion-buttons slot="end">
        <ion-button (click)="goToNotification()">
          <ion-icon name="notifications-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="active">
    <div class="content" *ngFor="let item of clientList">
      <div>
        <img class="bg_image" src="{{item.img}}" alt="" />
      </div>
      <div class="left">
        <ion-label class="name_lbl">{{ item.clientName }}</ion-label>
        <ion-label class="msg_lbl">{{ item.managerName }}</ion-label>
        <ion-label class="req">
          <ion-icon
            color="secondary"
            name="logo-facebook"
            class="small-image"
          ></ion-icon>
          <ion-icon
            color="success"
            name="logo-instagram"
            class="small-image"
          ></ion-icon>
          <ion-icon
            color="success"
            name="logo-whatsapp"
            class="small-image"
          ></ion-icon>
        </ion-label>
      </div>
      <div class="right">
        <div class="close">
          <ion-icon
            name="calendar-number-outline"
            slot="end"
            color="dark"
            (click)="onCalenderPage()"
          ></ion-icon>
        </div>
        <div class="check">
          <ion-icon
            name="trash-outline"
            slot="end"
            color="dark"
            (click)="onClientDelete()"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
