.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 25vh;
}

.head_lbl {
    font-size: 18px;
    font-family: "semi-bold";
    margin-bottom: 16px;
}

.sub_lbl {
    font-size: 16px;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
}

.cancel {
    margin-right: 10px;
    --background: #fff;
    color: #000;
    border: 1px solid lightgrey;
    border-radius: 10px;
}